# Flutter/Dart related
## Flutter application build results
/build/
/ios/Flutter/flutter_assets/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins.lock

## iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

## Android related
/android/.gradle/
/android/captures/
/android/.idea/
/android/local.properties
android/app/build/
android/.settings/

## VS Code related
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

## IntelliJ related
.idea/
*.iml
*.ipr
*.iws

## macOS related
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
._*
[._]*.swp
[._]*.swo
Thumbs.db

## Windows related
Thumbs.db
ehthumbs.db

# Temporary files
*.class
*.log
*.rej
*.orig
*.bak
*.swp

# Packages
.packages
.pub/
.pub-cache/
